.cardContainer {
  display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	transition: all 300ms ease-in-out;
}
.cardContainer:hover {
  transform: scale(1.025);
}

.card {
  margin: 10px;
  background-color: #f5f6f7;
  border-radius: 5px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 260px;
  color: #A47E3B;
  transition: border 0.3s ease;
}
.card_body h3 {
  margin: 0 0 5px;
  font-size: 1.2rem;
}
.card_body p {
  font-size: 0.95rem;
  margin: 0 0 15px;
  color: #555;
}

.card_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-height: 80px;
  overflow-x: hidden;
}

.card_footer {
  width: 100%;
  min-height: 30px;
  color: #111;
  background-color: #E6B325;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.card_footer h4 {
  font-size: 0.9rem;
  margin: 0;
  padding: 0 8px 0 0;
  text-transform: uppercase;
}

.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top;
}
