.search {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  z-index: 10;
  cursor: pointer;
}

.searchBox {
  position: absolute;
  right: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  background: #fff;
  z-index: -1;
  align-items: center;
  padding: 0 30px;
  transition:  0.5s ease-in-out;
}
.searchBox.active {
  right: 0;
}

.searchBox input {
  width: 100%;
  border: none;
  outline: none;
  height: 50px;
  color: #222;
  font-size: 1em;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.icons {
  display: flex;
  align-items: center;
}
.icon {
  width: 2rem;
}

.searchBtn {
  position: relative;
  right: 2px;
  top: 2.5px;
  transition: 0.5s ease-in-out;
}
.closeBtn {
  position: relative;
  left: 10px;
  top: 2.5px;
  transition: 0.5s;
}

.button-search {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

/* Para WebKit (Chrome, Safari) */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
 /* Para Firefox */
input[type="search"]::-moz-clear {
  -moz-appearance: none;
  appearance: none;
}