.orderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1f1d1d;
  height: 240px;
  width: 150px;
  background-color: #b88d42;
  border-radius: 10px;
  padding: 5px;
  justify-content: space-evenly;
}

.orderContainer select {
  margin: 12px;
  height: 25px;
  font-size: 14px;
  border: 1px solid rgba(87, 54, 16, 0.9);
  border-radius: 5px;
  background-color: #FFF7D4;
}

.orderContainer span {
  font-size: 18px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .orderContainer {
    width: 185px;
  }
}