.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #684915;
}

hr {
  height: 2px;
  width: 80%;
  background-color: rgb(138, 63, 1);
}

.back {
  text-align: left;
  width: 100%;
}
.backBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(250, 170, 78);
  border: 0px;
  border-radius: 100px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  transition: 0.5s ease;
}
.backBtn:hover {
  background-color: rgb(224, 196, 148);
  font-weight: bold;
}
.backBtn:active {
  position: relative;
  top: 2px;
}

.box {
  display: flex;
  margin: 1.2rem;
  justify-content: center;
}

.inputForm {
  width: 70px;
  margin: 15px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  transition: 0.3s ease;
  font-size: 16px;
  padding-left: 6px;
  border: 2px solid #E6B325;
}
.inputForm:hover {
  border: 2px solid rgba(223, 156, 79, 0.856);
}

.inputForm[name="name"] {
  width: 175px;
  margin: 10px 0 0 15px;
}

.inputForm[name="image"] {
  width: 240px;
}

.inputForm[type="checkbox"] {
  width: 20px;
  margin: 8px;
  height: 18px;
  cursor: pointer;
}

label {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.inputImage {
  display: flex;
  flex-direction: column;
  margin: 2.3rem 2.3rem;
}

.inputImage input {
  width: 320px;
  font-size: 13px;
  padding: 4px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 4px 6px 3px rgba(0, 0,0, 0.15);
  color: rgb(77, 60, 0);
  background-color: rgb(255, 237, 214);
}

.inputImage img {
  width: 270px;
  align-self: center;
  height: auto;
  margin-top: 1.2rem;
  border-radius: 15px;
  border: 2px solid white;
  transition: border 0.2s ease;
}
.inputImage img:hover {
  border: 2px solid rgb(200, 169, 54);
}

.temperaments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.temperaments strong {
  font-size: 1.3rem;
  margin: 1.3rem 0 1.3rem;
}

.temperaments div {
  display: flex;
  flex-wrap: wrap;
}

.section {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 70%;
  background-color: rgb(255, 237, 214);
  border-radius: 10px;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  border: 2px solid white;
  padding: 10px;
  transition: border 0.2s ease;
}
.section:hover {
  border: 2px solid rgb(200, 169, 54);
}

.section::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 15px;
  background-color: rgba(252, 182, 53, 0.5);
  border-radius: 10px;
}

.section::-webkit-scrollbar-thumb {
  background-color: #E6B325;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
  height: 30px;
}

.section div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.button {
  width: 160px;
  height: 40px;
  color: #fff;
  font-family: "Lato", sans-serif;
  padding: 10px 25px;
  font-weight: 500;
  border-radius: 5px;
  font-size: 1.1rem;
  background: rgbrgba(250, 170, 78);
  background: linear-gradient(
    0deg,
    rgba(250, 170, 78, 1) 0%,
    rgb(230, 149, 57) 100%
  );
  border: none;
  margin: 1.5rem 0 1rem;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.button:hover {
  background: rgb(224, 196, 148);
  background: linear-gradient(
    0deg,
    rgba(224, 196, 148, 1) 0%,
    rgb(204, 167, 102) 100%
  );
  cursor: pointer;
}

.error {
  display: block;
  text-align: center;
  font-size: 13px;
  color: rgb(255, 3, 3);
  transition: 0.5s ease;
  margin-top: 10px;
}

.warning {
  border-radius: 5px;
  outline: none;
  transition: 0.3s ease;
  font-size: 16px;
  border: 2px solid rgb(255, 3, 3);
}
.number {
  width: 60px;
}

.warningNumber {
  width: 60px;
  margin: 15px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  transition: 0.3s ease;
  font-size: 16px;
  border: 2px solid rgb(255, 3, 3);
}

@media (min-width: 768px) {
  .error {
    font-size: 1rem;
  }
  .box {
    flex-direction: column;
  }
  .contenedor {
    display: flex;
  }
  .inputForm {
    width: 80px;
    margin: 15px;
    height: 37px;
  }
  .inputForm[name="name"] {
    min-width: 375px;
  }

  .inputForm[name="image"] {
    min-width: 375px;
  }
  .inputForm[type="checkbox"] {
    width: 30px;
    margin: 10px;
    height: 20px;
    cursor: pointer;
  }
  .section {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 375px;
    background-color: rgb(255, 237, 214);
    border-radius: 10px;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    border: 2px solid white;
    padding: 10px;
  }
  .inputImage input {
    width: 26rem;
    font-size: 1rem;
    padding: 5px;
  }
  .inputImage img {
    width: 19rem;
  }
}
